.grid{
    position: absolute;
    width: 600px;
    height: 300px;
    border: solid black 5px;
}
#main_block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;
    left: 250px;
    bottom: 20px;
}